.content {
  overflow-x: hidden;
  margin: 20px;
    margin-top: 20px;
  margin-top: 20px;
  margin-top: 20px;
  scrollbar-width: 0;


}
.content::before {
  position: absolute;
  content: "";
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: -1;
  background: white;
    background-image: none;
    background-size: auto;
  background-image: none;
  background-size: auto;
  transform: rotate(-30deg);
  background-image: linear-gradient(rgb(243, 243, 243) .1em, #8880 .1em), linear-gradient(90deg, rgba(255, 255, 255, 0.7) .1em, #0000 .1em);
  background-size: 3em 3em;
}
body{

  overflow: hidden;
}